
#container {
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    border: 2px solid red;
    width: 50px;
    aspect-ratio: 1/1; /*Ensures square diamension*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.grid-item2:hover {
    background-color: blue;
    border-color: black;
}