body {
}
#container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.grid-Item {
    border: 2px solid red;
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}