
#container {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.grid-item {
    border: 1px solid red;
    width: 50px;
    aspect-ratio: 1/1; /*Ensures square diamension*/
    background-color: white;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.grid-item:hover {
    background-color: blue;
}
